.navbar{
	   background-color: #5cb85c !important;
	   background-image: none;
	   color: white !important;
		size: 59;
		height: 60px;
     width: 1361px;
    border: 1px solid green;
    padding: 5px;
    margin: 5px;
	}
	li{
		color: white !important;
	}
	.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
		color: white !important;
	}
	h1{
		color: black;
		font-size: 70px; 
	}
	p{
		color: black;
		font-size: 20px;
	}
.c2{
     margin: 5% -11% !important;
}
.img-circle{
	    width: 17%;
}
.img{
	    margin: 0% 18%;
}
.mah{

     margin: 0% 5%;
}
h2{
	color: black;
	margin: 0% 4%;
}
.jj{
    margin: -2% 43%;
}
.kk{
    margin: -2% 81%;
          width: 17%;
}
.tt{
	width: 24%;
    margin: 4% 3%;
}
.mm{
    margin: -12% 39%;
    width: 31%;
}
.ss{
	    margin: 4% 74%;
    width: 27%;
}
.btn{
	margin: -3% 10%;
  }
.c1{
    margin: 2% 0% !important;
}
.uu{
	border: solid green;
 	border-radius: 17px;
 	margin: 2% 6%;
 	background: white;
}
.oo {
	color: blue;
	margin: 2% 1%;;
}
.nn{
    margin: 1% 1%;  
}
.mod{
	color: blue;
	margin: 2% 1%;
}
.li{
	background: black;
}
.ad{
	color: blue;
    margin: 2% 1%;
}
.ul{
	background: black;
}
.nop{
    color: blue;
    margin: 2% 1%;
}
.pp{
	background: black;
}
.gg{
	color: blue;
    margin: 2% 1%;
}
.rw{
	margin: 1% 1%;
}